.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-bar {
  color: #333333;
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-weight: 700;
  margin: 0 auto;
}
.logo {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2em 0.7em 0.2em 0.2em;
  &:hover {
    cursor: pointer;
  }
}

.navigation-items {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > *:not(.test-container) {
    padding: 10px;
    // border-radius: 10px;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    &:hover {
      border-bottom: 5px solid #000;
    }
  }

  .test-container {
    a {
      background-color: #00b17a;
      color: #fff;
      border-radius: 25px;
      padding: 10px 20px;
    }
  }
}
