.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: url('../../assets/game-home-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10rem;
  h1 {
    margin: 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 18vh;
  left: 10vw;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;

  & > * {
    margin: 10px 0;
  }
  .logo {
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    outline: none;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    font-size: 1rem;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #5d00a3;
    }
  }
  .numerical-button,
  .problem-solving-button,
  .numerical-2-button {
    background-color: #6ec84e;
    min-width: 320px;
    text-align: start;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 0.5em;
    box-shadow: inset 2px 2px 7px #555555;
    font-size: 1.5rem;
    &:disabled {
      cursor: not-allowed;
      background-color: #555555;
    }
  }
  .register-button {
    color: #454545;
    border: none;
    border-radius: 20px;
    padding: 0.5em 2em;
    box-shadow: inset 2px 2px 7px #555555;
    &:hover {
      color: #fff;
    }
  }

  .help-button,
  .result-button {
    color: #fff;
    background-color: #454545;
    border-radius: 20px;
    padding: 0.3em 1em;
  }

  .result-button {
    box-shadow: inset 2px 2px 7px #555555;
    background-color: #5d00a3;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }

  .login-input {
    display: flex;
    align-items: center;

    button,
    input {
      border: 1px solid black;
      min-height: 30px;
    }
    input {
      width: 250px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 10px;
      font-size: 1rem;
      outline: none;
    }
    button {
      margin-left: -1px;
      padding: 0 0.5em;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      &:hover {
        color: #fff;
      }
    }
  }
}
