.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.enterance {
  background-image: url('../../assets/Enterance.png');
}
.control {
  background-image: url('../../assets/Control.png');
}
.hydroponics {
  background-image: url('../../assets/Hydroponics-lab-room.png');
}
.mission {
  background-image: url('../../assets/Mission.png');
}

.missionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 32px;
}

.buttonWraper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: flex-end;
  position: absolute;
  bottom: 30px;
  z-index: 30;
}

.button {
  width: 70px;
  height: 70px;
  font-size: 4rem;
  color: white;
  background-color: #347aeb;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  &:disabled {
    background-color: #777777;
    opacity: 0.7;
    cursor: no-drop;
  }
}

// Proctor
.proctorContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background-color: #367beb77;
  align-items: center;
  justify-content: center;
}

.proctor {
  background-image: url('../../assets/Proctoring.png');
  width: 90%;
  height: 90%;
  background-size: cover;
}

.proctorText {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.submit {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #5ea644;
  color: white;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.startButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 17%;
  width: 300px;
  height: 80px;
  cursor: pointer;
}

// Story display
.storyContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #367bebc5;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 20;
}

.storyText {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

// Guide screen
.guideContainer {
  display: flex;
  position: absolute;
  background-image: url('../../assets/Screen-background.png');
  background-size: cover;
  top: 0;
  left: 2%;
  z-index: 10;
  width: 70vw;
  height: 90vh;
}

.guideContainerRed {
  display: flex;
  position: absolute;
  background-image: url('../../assets/Screen-background.png');
  background-size: cover;
  top: 0;
  left: 2%;
  z-index: 10;
  width: 70vw;
  height: 90vh;
  border: 4px solid red;
}

// Panel
.panelContainer {
  position: absolute;
  right: 2%;
  z-index: 10;
  width: 24vw;
  display: flex;
  flex-direction: column;
}

.panel {
  background-image: url('../../assets/Screen-background.png');
  background-size: cover;
  height: 35vh;
  margin: 15px 0;
}

.ornament {
  background-color: #205184;
  height: 15vh;
}

.red {
  border: 4px solid red;
}

// Explaination display
.explainContainer {
  position: absolute;
  bottom: 45%;
  left: 9%;
  z-index: 20;
  width: 60%;
}

.explainText {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.lineHelper {
  width: 120px;
  height: 4px;
  background: red;
  position: absolute;
  z-index: 20;
  bottom: 51%;
  right: 26%;
}

.top {
  top: 8%;
}
