.help-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  height: 100%;
  & > a {
    color: #fff;
    background-color: #7a7a7a;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 10px;
  }
}
