.problem-section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 1rem;
  .puzzle-container {
    width: 360px;
    height: 360px;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    .puzzle-box {
      width: 90px;
      height: 90px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
  }
  .puzzle-problem {
    background-image: url('../../assets/problem-solving/5_4x4/main.png');
    background-size: cover;
    background-position: center;
  }
}

.answer-section {
  width: 100%;
  max-width: 800px;
  height: 200px;
  border: 1px solid #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 20px;
}
.puzzle-item {
  width: 90px;
  height: 90px;
  cursor: move;
  transition: transform 0.2s ease-in-out;
}
.chunk-1 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_1.png');
  background-size: cover;
  background-position: center;
}
.chunk-2 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_2.png');
  background-size: cover;
  background-position: center;
}
.chunk-3 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_3.png');
  background-size: cover;
  background-position: center;
}
.chunk-4 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_4.png');
  background-size: cover;
  background-position: center;
}
.chunk-5 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_5.png');
  background-size: cover;
  background-position: center;
}
.chunk-6 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_6.png');
  background-size: cover;
  background-position: center;
}
.chunk-7 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_7.png');
  background-size: cover;
  background-position: center;
}
.chunk-8 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_8.png');
  background-size: cover;
  background-position: center;
}
.chunk-9 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_9.png');
  background-size: cover;
  background-position: center;
}
.chunk-10 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_10.png');
  background-size: cover;
  background-position: center;
}
.chunk-11 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_11.png');
  background-size: cover;
  background-position: center;
}
.chunk-12 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_12.png');
  background-size: cover;
  background-position: center;
}
.chunk-13 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_13.png');
  background-size: cover;
  background-position: center;
}
.chunk-14 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_14.png');
  background-size: cover;
  background-position: center;
}
.chunk-15 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_15.png');
  background-size: cover;
  background-position: center;
}
.chunk-16 {
  background-image: url('../../assets/problem-solving/5_4x4/chunk_16.png');
  background-size: cover;
  background-position: center;
}

.correct {
  box-shadow: 0 0 30px 5px #00c521;
}
